/// Use this file for code debugging purposes
/// like testing mixins and functions, seeing
/// color values or sizes...
///
/// For debugging your design use debug-design.scss
/// **************************************************
/// Don't forget to remove it in production...
/// **************************************************
@charset "UTF-8";
@use "sass:map";

// ====================================================
// ============================================= CONFIG
@import "_utilities/load-config";

.colors {
   /* stylelint-disable property-no-unknown */
   primary-20: $color-primary-20;
   primary-30: $color-primary-30;
   primary-50: $color-primary-50;
   primary-70: $color-primary-70;
   primary-80: $color-primary-80;
   /* - */
   secondary-20: $color-secondary-20;
   secondary-30: $color-secondary-30;
   secondary-50: $color-secondary-50;
   secondary-70: $color-secondary-70;
   secondary-80: $color-secondary-80;
   /* - */
   accent-20: $color-accent-20;
   accent-30: $color-accent-30;
   accent-50: $color-accent-50;
   accent-70: $color-accent-70;
   accent-80: $color-accent-80;
   /* - */
   neutral-05: $color-neutral-05;
   neutral-10: $color-neutral-10;
   neutral-20: $color-neutral-20;
   neutral-70: $color-neutral-70;
   neutral-80: $color-neutral-80;
   neutral-95: $color-neutral-95;
   /* - */
   white: $color-white;
   black: $color-black;
   /* - */
   color-info: $color-info;
   color-success: $color-success;
   color-warning: $color-warning;
   color-error: $color-error;
   /* stylelint-enable property-no-unknown */
}

$baseline-grid-scale-default: ();
$baseline-grid-scale-mobile: ();
$baseline-grid-scale-default: auto-grid($modular-scale-ratio-default);
$baseline-grid-scale-mobile: auto-grid($modular-scale-ratio-mobile);

.modular-scale-desktop {
   /* stylelint-disable property-no-unknown */
   ratio: $modular-scale-ratio-default;

   @each $key, $value in $modular-scale {
      #{$key}: ms-scale-debug($modular-scale-ratio-default, $value);
   }
   /* stylelint-enable property-no-unknown */
}

.grid-scale-desktop {
   /* stylelint-disable property-no-unknown */
   multiplier: $baseline-grid-line-height;

   @each $key, $value in $baseline-grid-scale-default {
      #{$key}: $value;
   }
   /* stylelint-enable property-no-unknown */
}

.modular-scale-mobile {
   /* stylelint-disable property-no-unknown */
   ratio: $modular-scale-ratio-mobile;

   @each $key, $value in $modular-scale {
      #{$key}: ms-scale-debug($modular-scale-ratio-mobile, $value);
   }
   /* stylelint-enable property-no-unknown */
}

.grid-scale-mobile {
   /* stylelint-disable property-no-unknown */
   multiplier: $baseline-grid-line-height;

   @each $key, $value in $baseline-grid-scale-mobile {
      #{$key}: $value;
   }
   /* stylelint-enable property-no-unknown */
}

.test-gs {
   /* stylelint-disable property-no-unknown */
   xxxxl: 64px;
   xxxl: 52px;
   xxl: 40px;
   xl: 36px;
   l: 28px;
   m: 24px;
   s: 20px;
   xs: 16px;
   xxs: 12px;
   xxxs: 8px;
   xxxxs: 4px;
   /* 1 */
   @include gs(margin, xl, 1, 2);
   /* 2 */
   @include gs(margin, xl, 1 2, 2 3);
   /* 3 */
   @include gs(margin, xl xs xs, 1, 2);
   /* 4 */
   @include gs(margin, xl xs xs, 1 2, 2 3);
   /* 5 */
   @include gs(margin, xl xs xs xl, 1 2, 2 3);
}
