/// ===========================================================================
/// =============================== C O N F I G ===============================
/// ===========================================================================
/// USE PIXELS FOR EVERYTHING in the config, they will be converted to rems.
/// ===========================================================================
/// Make sure to always assign the default value to size "m" or variable "*-50"
/// ===========================================================================
/// @link https://github.com/v1ggs/scss-starter

/// ===========================================================================
/// ========================================================== GENERAL SETTINGS

/// options: { "mobile-first" | "desktop-first" }
$design-approach: "mobile-first" !default;

/// breakpoint where the complete design changes from one
/// view (e.g. mobile view) to another (e.g. desktop view)
/// this is used as a central place to configure it for all
/// mixins, like modular scale or system font
/// USE A KEY FROM YOUR BREAKPOINTS MAP
$view-switch-breakpoint: "m" !default;

/// this is base font size (in px !!) in html tag (converted to percents)
/// this size is also a base for all calculations, like the modular scale
/// NOTE: If using baseline grid and rems, then it might be a good idea
/// to set base font size to 10px for precise calculations, because sometimes
/// rems get rounded (6.6666 > 6.667) and that breaks the baseline grid.
$base-font-size: 16px !default;

// If you want to use a universal selector (*) to set
// "box-sizing:border-box;" for all, then disable this.
// If you use BEM, each component should be complete,
// i.e. contain "its own" box-sizing, then enable this.
$use-box-sizing: true !default;

/// smooth scroll - will be smooth only when
/// a visitor does not prefer reduced motion
$smooth-scroll: true !default;

// use these to for linking to assets in css, relative to the site root
// for example: "background-image: url($url-img + "/image.jpg");
// you need a web server for these to work during the development
$design-dir: "/public_html" !default;
$url-assets: $design-dir + "/assets" !default;

/// ===========================================================================
/// ============================================================= MEDIA QUERIES
/// THESE SETTINGS ARE TO BE USED WITH EASIER-SASS-MQ,
/// NOT WITH THE ORIGINAL SASS-MQ
/// MAX-WIDTH IS ALWAYS MADE EXCLUSIVE (I.E. BREAKPOINT PX -1)
/// @see "_utilities/design/emq";

/// modifies the behaviour of breakpoints
/// options: { "mobile-first" | "desktop-first" }
$emq-approach: $design-approach !default;

/// breakpoints (add/remove/rename/reorder keys/values as required)
/// exclusive when "max-width", no worry
$emq-breakpoints: (
   xxl: 1920px,
   xl: 1600px,
   l: 1280px,
   m: 992px,
   s: 768px,
   xs: 576px,
   xxs: 360px,
) !default;

/// features shortcuts
/// @example
///   emq(xxl, ol);
///   // (max-width: <xxl breakpoint value>) and (orientation: landscape)
/// @example
///   emq(xl, touch);
///   // (min-width: <xl breakpoint value>) and (pointer: coarse)
$emq-features: (
   op: "(orientation: portrait)",
   ol: "(orientation: landscape)",
   no-reduced-motion: "(prefers-reduced-motion: no-preference)",
   touch: "(pointer: coarse)", // (hover: none) is unreliable
) !default;

/// Set the @media type { screen | print | all } (default "all")
$emq-media-type: all !default;

/// ===========================================================================
/// ============================================================= MODULAR SCALE
/// Use this mixin in your code to get a proper size, and
/// media queries, if neccessary
/// @see "_utilities/design/modular-scale";

/// Ratios from https://www.modularscale.com/
/// Use the number in parentheses for $scale-ratio variable.
/// 15:16    (1.067)  - minor second
///  8:9     (1.125)  - major second
///  5:6     (1.2)    - minor third
///  4:5     (1.25)   - major third
///  3:4     (1.333)  - perfect fourth
///  1:√2    (1.414)  - aug. fourth / dim. fifth
///  2:3     (1.5)    - perfect fifth
///  5:8     (1.6)    - minor sixth
///  1:1.618 (1.618)  - golden section
///  3:5     (1.667)  - major sixth
///  9:16    (1.778)  - minor seventh
///  8:15    (1.875)  - major seventh
///  1:2     (2)      - octave
///  2:5     (2.5)    - major tenth
///  3:8     (2.667)  - major eleventh
///  1:3     (3)      - major twelfth
///  1:4     (4)      - double octave

/// required for the mixin,
/// override with the config's main variable
/// options: { "mobile-first" | "desktop-first" }
$modular-scale-approach: $design-approach !default;

/// this size is the base for the modular scale
$modular-scale-base-font-size: $base-font-size !default;

/// this is a breakpoint where you start using
/// another "modular scale ratio"
/// USE A KEY FROM YOUR BREAKPOINTS MAP
$modular-scale-critical-breakpoint: $view-switch-breakpoint !default;

/// If using both ratios, this will produce media queries everywhere
/// you use "ms" mixin.
/// If you don't want that, you can set the "desktop ratio" smaller
/// (better for mobile) and disable the "mobile ratio".
/// @type Float | boolean - set false to disable
$modular-scale-ratio-default: 1.618 !default;
$modular-scale-ratio-mobile: 1.25 !default;

/// ===========================================================================
/// ============================================================= BASELINE GRID
/// @see "_utilities/design/baseline-grid";

/// required for the mixin,
/// override with the config's main variable
/// options: { "mobile-first" | "desktop-first" }
$baseline-grid-approach: $design-approach !default;

/// baseline grid base (if you use it, everything
/// on page should fit into this grid)
$baseline-grid-base: 8px !default;

// line height for display text
// it will be programmatically encreased for smaller fonts
$baseline-grid-line-height: 1.3 !default;

// line height gets larger for smaller font-sizes
// this controls how fast it grows, from 0 - no upper limit
$baseline-grid-line-height-increment-strenght: 2 !default;

/// Used if you combine it with modular scale
/// and use two ratios, one for desktop, one for mobile
/// this is a breakpoint where you start using
/// another "grid scale"
/// USE A KEY FROM YOUR BREAKPOINTS MAP
$baseline-grid-critical-breakpoint: $view-switch-breakpoint !default;

/// wether or not you use two modular scale ratios
/// It has the value of $modular-scale-ratio-mobile,
/// but the point is just to check if it's true or false
$baseline-grid-double-scale: $modular-scale-ratio-mobile !default;

/// Use "gs" mixin in your code to get a proper size from
/// $baseline-grid-scale-default map, from xxxxs to xxxxl.
/// It can be combined with modular scale, which can
/// be used for font-size, and the baseline grid for
/// line heights and spacings. Set it manually or use
/// auto-grid() function, if you use modular scale.
$baseline-grid-scale-default: auto-grid($modular-scale-ratio-default) !default;

// Use only if you combine it with modular scale and use two
// ratios, one for desktop, one for mobile. Set it manually
// or use auto-grid() function, if you use modular scale.
$baseline-grid-scale-mobile: auto-grid($modular-scale-ratio-mobile) !default;

/// ===========================================================================
/// ================================================================ FLUID SIZE
/// @see "_utilities/design/fluid-size";

// enable fluid size
// you can use the mixin throughout the project, and disable the fluid size here,
// and it will not break the process, it will return the max-size only
$enable-fluid-size: true !default;

// base value to use for px to rem conversion
// assign the config's main "base font size" variable
$fluid-size-base: $base-font-size !default;

// breakpoints map
// override with the config's main "breakpoints" map
/// @type map
$fluid-size-breakpoints: $emq-breakpoints !default;

/// List of methods to use for fluid width (different browser support)
/// Calc is a method with css calc() without media-queries to limit the size.
/// If you need to limit the fluid size (with media-queries),
/// use "calc-mq", which is the default.
/// You can use the "clamp" method for modern browsers, and $fluid-size-fallback for the older.
/// You can use all these methods together, if you wish, or just a
/// specific one and the regular fallback.
/// @type list - available: "calc-mq", "calc", "min-max", "clamp"
/// @example
///   $fluid-size-methods: "calc", "clamp";
/// @example
///   $fluid-size-methods: "min-max";
$fluid-size-methods: "calc-mq" !default;

/// a fallback if used methods are not supported by the browser
/// @type boolean
/// @example
///   @include fluid-size(font-size, 2rem, 0.8rem, xxl, xs);
///   // fallback is: font-size: 2rem;
$fluid-size-fallback: false !default;

/// add min-height: 0vw; for safari
$fluid-size-use-safari-fix: true !default;

/// ===========================================================================
/// ===================================================================== COLOR
/// Don't use base color (e.g. $color-primary-base) in your code,
/// use $color-primary-50 instead

/// THEME COLORS
/// primary color / tints / shades
$color-primary-base: #1f2a3f !default; // don't use in code
$color-primary-20: color($color-primary-base, 20%) !default;
$color-primary-30: color($color-primary-base, 30%) !default;
$color-primary-50: color($color-primary-base, 50%) !default; // default
$color-primary-70: color($color-primary-base, 70%) !default;
$color-primary-80: color($color-primary-base, 80%) !default;

/// secondary color / tints / shades
$color-secondary-base: neutral(82%, $color-primary-base) !default; // don't use in code
$color-secondary-20: color($color-secondary-base, 20%) !default;
$color-secondary-30: color($color-secondary-base, 30%) !default;
$color-secondary-50: color($color-secondary-base, 50%) !default; // default
$color-secondary-70: color($color-secondary-base, 70%) !default;
$color-secondary-80: color($color-secondary-base, 80%) !default;

/// accent color / tints / shades
$color-accent-base: #4d422e !default; // don't use in code
$color-accent-20: color($color-accent-base, 20%) !default;
$color-accent-30: color($color-accent-base, 30%) !default;
$color-accent-50: color($color-accent-base, 50%) !default; // default
$color-accent-70: color($color-accent-base, 70%) !default;
$color-accent-80: color($color-accent-base, 80%) !default;

/// neutrals
$color-neutral-05: neutral(5%, $color-primary-base) !default;
$color-neutral-10: neutral(10%, $color-primary-base) !default;
$color-neutral-20: neutral(20%, $color-primary-base) !default;
$color-neutral-70: neutral(70%, $color-primary-base) !default;
$color-neutral-80: neutral(80%, $color-primary-base) !default;
$color-neutral-95: neutral(95%, $color-primary-base) !default;

$color-white: $color-neutral-05 !default;
$color-black: $color-neutral-95 !default;

/// FEEDBACK COLORS
$color-info: mix-colors(#0000ff, $color-primary-base, 26%) !default;
$color-success: mix-colors(#00ff00, $color-primary-base, 26%) !default;
$color-warning: mix-colors(#ff8000, $color-primary-base, 26%) !default;
$color-error: mix-colors(#ff0000, $color-primary-base, 26%) !default;

/// ===========================================================================
/// ================================================================ TYPOGRAPHY
/// define both custom and generic font family, for the ff() mixin

$font-family-primary: "Primary Font Family", "Optional Fallback Family", sans-serif !default;
$font-family-primary-bold: "Primary Font Family Bold", "Optional Fallback Family", sans-serif !default;
$font-family-secondary: "Secondary Font Family", "Optional Fallback Family", serif !default;

/// Set font sizes and line heights in the code,
/// because only the mixin can be used...

/// ===========================================================================
/// ==================================================================== IMAGES

/// balancing images
/// set false to remove
/// Use:
/// @link https://yoksel.github.io/svg-gradient-map/#/
/// @link https://yoksel.github.io/svg-filters/#/
/// @link https://codepen.io/stoumann/pen/MWeNmyb
/// @link https://www.cssfiltergenerator.com/
$image-balance-filter: grayscale(40%) saturate(70%) brightness(90%) !default;
$image-balance-filter-hover: grayscale(0%) saturate(100%) brightness(100%) !default;

/// ===========================================================================
/// =============================================================== TRANSITIONS

$transition-duration-0025: 0.25s !default;
$transition-duration-005: 0.5s !default;
$transition-duration-01: 1s !default;
$transition-duration-10: 10s !default;

/// Use:
/// @link https://cubic-bezier.com/
$transition-timing-function-default: ease-out !default;
$transition-timing-function-default-cb: cubic-bezier(0.81, 0.09, 0.77, 0.97) !default;

/// ===========================================================================
/// =================================================================== SHADOWS
/// box-shadow:
/// offset-x | offset-y | blur-radius | spread-radius | color
/// inset | offset-x | offset-y | color
/// possible any number of shadows, separated by commas

$text-shadow-01: 0 0 1px $color-neutral-80 !default;
$text-shadow-04: 0 0 4px $color-neutral-80 !default;
$text-shadow-08: 0 0 8px $color-neutral-80 !default;

$box-shadow-01-00: 0 0 1px 0 $color-neutral-80 !default;
$box-shadow-04-00: 0 0 4px 0 $color-neutral-80 !default;
$box-shadow-08-00-5: 0 0 8px -5px $color-neutral-80 !default;

/// ===========================================================================
/// =================================================================== Z-INDEX
/// Note: z-index only works on positioned elements: absolute, relative,
/// fixed, or sticky and flex items (elements that are direct children
/// of "display: flex" elements).
/// If two positioned elements overlap without a z-index specified,
/// the element positioned last in the HTML code will be shown on top.
/// auto - Sets the stack order equal to its parents. This is default.
/// number - Sets the stack order of the element. Negative numbers are allowed.
/// initial - Sets this property to its default value.
/// inherit - Inherits this property from its parent element.

$zindex-1200: 1200 !default;
$zindex-1100: 1100 !default;
$zindex-1090: 1090 !default;
$zindex-1080: 1080 !default;
$zindex-1070: 1070 !default;
$zindex-1060: 1060 !default;
$zindex-1050: 1050 !default;
$zindex-1040: 1040 !default;
$zindex-1030: 1030 !default;
$zindex-1020: 1020 !default;
$zindex-1010: 1010 !default;
$zindex-1000: 1000 !default;
$zindex-above: 1 !default;
$zindex-default: auto !default;
$zindex-inherit: inherit !default;
$zindex-below: -1 !default;
$zindex-bottom: -100 !default;

/// ===========================================================================
/// ===================================================================== PRINT

/// true: print stylesheet will be included in the main css file
/// false: print stylesheet will be created separately
$include-print-styles: true !default;

/// selectors specified here will not be printed
/// when a visitor prints a page
/// adds "display: none !important;" to the selector
/// @type list - comma separated
/// @example
///   $invisible-in-print: ".some-class", "#some-id", "htmltag";
$invisible-in-print: "" !default;

/// ===========================================================================
/// ======================================================================= DEV
/// This is a separate css file
/// *** keep these options, someone might want to
/// turn off some of them but not all ***

/// If you want to display the currently active breakpoint during
/// development, add the breakpoints to this list, ordered by width.
/// @example
///    $emq-show-breakpoints: (s, m, l, xl);
$emq-show-breakpoints: (xxl, xl, l, m, s, xs, xxs) !default;

/// where to display currently active breakpoint (top, right, bottom, left)
/// both properties required
$emq-show-breakpoints-position: bottom left !default;

/// ===========================================================================
/// ===========================================================================
/// ================================== DESIGN =================================
/// ===========================================================================
/// ===========================================================================
/// From bootstrap:
/// Variables should follow the formula for consistent naming:
/// $component-state-property-size
///
/// @example
///    $nav-link-disabled-color
///    $modal-content-box-shadow-xs
/// ===========================================================================
/// ===========================================================================
// Base configuration: set anything to false to remove it,
// don't delete top-level keys (html, body, body-inner...).
// If using comma-separated list (like font-family)
// put it in parentheses.
$base-config: (
   // Html tag settings
   html: (
      overflow-x: hidden,
      overflow-y: false,
   ),
   body: (
      // don't use "page" class if you work with wordpress,
      // it sets class "page" for pages - REQUIRED !!!
      class-name: body,
      background-color: $color-secondary-50,
      font-size: 1rem,
      font-family: $font-family-primary,
      font-weight: 400,
      line-height: 1.5,
      color: $color-black,
      text-rendering: optimizelegibility,
   ),
   body-inner: (
      // __bem style suffix: REQUIRED !!!
      class-suffix: inner,
      width: 100%,
      max-width: 992px,
      margin: 0 auto,
      background-color: $color-primary-50,
   ),
   // ::selection and :target
   // Allowable properties (::selection): background-color,
   // color, text-decoration, text-shadow, stroke-color,
   // fill-color, stroke-width
   text-selection: (
      color: $color-primary-20,
      background-color: $color-accent-80,
   ),
   // Css variables: list them
   // here WITHOUT leading "--"
   custom-properties: (
      property: false,
   ),
) !default;

/// ==================================================
/// ============================================ LINKS
/// This will add padding on a link, and pull the
/// surrounding content back using negative margins.
/// Specify it the same way as shorthand margin or
/// padding, or set as an empty list - `()` - to disable
$increase-link-surface-on-mobile: 4px 8px !default;

// set any of these false to disable them
$link-color: $color-primary-50 !default; // required (no false)
$link-hover-color: $color-primary-70 !default;
$link-active-color: $color-accent-50 !default;
$link-visited-color: $color-primary-30 !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$link-transition: false !default;
$link-focus-outline: false !default;
$link-wrapper-pseudo: after !default; // icon fonts use pseudo-elements too

/// ==================================================
/// ========================================= HEADINGS
$headings-color: $color-black !default;
$headings-font-family: $font-family-secondary !default;
$headings-font-weight: 700 !default;
$headings-font-style: normal !default;
