/// @link https://github.com/v1ggs/scss-starter

/// balancing images
/// set false to remove
/// Use:
/// @link https://yoksel.github.io/svg-gradient-map/#/
/// @link https://yoksel.github.io/svg-filters/#/
/// @link https://codepen.io/stoumann/pen/MWeNmyb
/// @link https://www.cssfiltergenerator.com/
$image-balance-filter: grayscale(40%) saturate(70%) brightness(90%) !default;
$image-balance-filter-hover: grayscale(0%) saturate(100%) brightness(100%) !default;

@mixin img() {
   // ========================= IMAGE CONTAINER
   // Idea from: https://app.ft.com/
   @include box-sizing;
   position: relative;
   height: 0;

   // placeholder
   background: url($url-assets + "/img/common/placeholder.svg") center / cover;
   padding-bottom: 56.25%;
   z-index: 1;

   // ========================= IMAGE
   &__img {
      // ******************************************************
      // A reminder:
      // From Bootstrap:
      // This is purposefully opt-in via an explicit class rather than being the default for all `<img>`s.
      // We previously tried the "images are responsive by default" approach in Bootstrap v2,
      // and abandoned it in Bootstrap v3 because it breaks lots of third-party widgets (including Google Maps)
      // which weren't expecting the images within themselves to be involuntarily resized.
      // See also https://github.com/twbs/bootstrap/issues/18178
      // *** max-width: 100%;
      // *** height: auto;
      // *** vertical-align: middle;
      // ******************************************************

      // From: https://app.ft.com/
      @include box-sizing;
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      -webkit-user-drag: none;
      opacity: 1;
      transition: opacity 0.2s linear; // TODO: use config for transition duration | Sun 03 Jul 2022, 18:46

      @if $image-balance-filter {
         filter: $image-balance-filter;

         &:hover,
         &:focus {
            filter: $image-balance-filter-hover;
         }
      }

      /// style broken images
      /// Unsupported on: Opera Mini, Safari (Desktop and iOS), iOS Webview (Chrome, Firefox, others)
      /// use js to apply default replacement image on error
      /// firefox displays alt attribute in the ::before pseudoelement
      /// @link https://bitsofco.de/styling-broken-images/
      &::after {
         display: block;
         content: "\1f304" " This image failed to load";
      }
   }
}
