/// @author vIGGS
/// @link https://github.com/v1ggs/scss-starter

/// Required sass modules
@use "sass:math";
@use "sass:map";
@use "sass:list";

/// Ratios from https://www.modularscale.com/
/// Use the number in parentheses for $modular-scale-ratio variable.
/// 15:16    (1.067)  - minor second
///  8:9     (1.125)  - major second
///  5:6     (1.2)    - minor third
///  4:5     (1.25)   - major third
///  3:4     (1.333)  - perfect fourth
///  1:√2    (1.414)  - aug. fourth / dim. fifth
///  2:3     (1.5)    - perfect fifth
///  5:8     (1.6)    - minor sixth
///  1:1.618 (1.618)  - golden section
///  3:5     (1.667)  - major sixth
///  9:16    (1.778)  - minor seventh
///  8:15    (1.875)  - major seventh
///  1:2     (2)      - octave
///  2:5     (2.5)    - major tenth
///  3:8     (2.667)  - major eleventh
///  1:3     (3)      - major twelfth
///  1:4     (4)      - double octave

/// required for the mixin,
/// override with the config's main variable
/// options: { "mobile-first" | "desktop-first" }
$modular-scale-approach: "mobile-first" !default;

/// this size is the base for the modular scale
$modular-scale-base-font-size: 16px !default;

/// this is a breakpoint where you start using
/// another "modular scale ratio"
/// USE A KEY FROM YOUR BREAKPOINTS MAP
$modular-scale-critical-breakpoint: "m" !default;

/// If using both ratios, this will produce media queries everywhere
/// you use "ms" mixin.
/// If you don't want that, you can set the "desktop ratio" smaller
/// (better for mobile) and disable the "mobile ratio".
/// @type Float | boolean - set false to disable
$modular-scale-ratio-default: 1.3333 !default; // 3:4 / 1.333 / perfect fourth
$modular-scale-ratio-mobile: 1.25 !default; // 4:5 / 1.25 / major third

$modular-scale: (
   xxxxl: 5,
   xxxl: 4,
   xxl: 3,
   xl: 2,
   l: 1,
   m: 0, // default == $size
   s: -1,
   xs: -2,
   xxs: -3,
   xxxs: -4,
   xxxxs: -5,
);

/// Helper function: Get size based on a defined ratio
/// Use this for debugging as well
/// e.g. printing the modular scale size(s) in px
/// @param {Integer} $ratio - modular scale ratio
/// @param {Integer} $scale - scale from $modular-scale: multiply/divide with the base
/// @require {Integer} $modular-scale-base-font-size - size in px for calculations
/// @return {Number} - in px
@function ms-scale-debug($ratio, $scale) {
   $base-size: $modular-scale-base-font-size;

   // final value to return
   $size: $modular-scale-base-font-size;

   // make absolute for calculations, because $scale can be negative
   $scale-abs: math.abs($scale);

   // increase/decrease input value by
   $scale-by: math.pow($ratio, $scale-abs);

   @if $scale > 0 {
      // round because it's in px
      $size: math.round($base-size * $scale-by);
   }

   @if $scale < 0 {
      // round because it's in px
      $size: math.round(math.div($base-size, $scale-by));
   }

   @return $size;
}

/// Helper function: Get size in rems using ms-scale-debug
@function ms-scale($ratio, $scale) {
   $size: ms-scale-debug($ratio, $scale);
   @return to-rem($size);
}

/// Helper function: get a size from "$modular-scale"
/// @param {String | List} $sizes - key(s) from the $modular-scale map
/// @require {Module} map - built-in sass module
/// @require {Module} list - built-in sass module
/// @require {Function} ms-scale - custom: get size based on a ratio
/// @require {Map} $modular-scale
/// @return {Number | List} - value(s) in rems
@function ms-scale-get($ratio, $sizes) {
   $values: ();

   @each $size in $sizes {
      @if map.has-key($modular-scale, $size) {
         $scale: map.get($modular-scale, $size);
         $value: ms-scale($ratio, $scale);
         $values: list.append($values, $value);
      } @else {
         @error "msd() function: Map $modular-scale does not have the key #{$size} !!!";
      }
   }

   @return $values;
}

/// Use this mixin in your code to get a proper size, and
/// media queries, if neccessary
/// @param {String} $property - css property
/// @param {String | List} $sizes - key(s) from the $modular-scale map
/// @require {Function} msd - custom: get size based on "desktop" ratio
/// @require {Function} msm - custom: get size based on "mobile" ratio
/// @example
///   @include ms(padding, xs xl);
///   // will return, for example:
///   // padding: 0.375rem 2.625rem;
///   // @media (max-width: 61.99em) { padding: 0.6875rem 1.4375rem; }
@mixin ms($property, $values) {
   $mobile-values: "";
   $default-values: "";

   @if $modular-scale-ratio-default {
      $default-values: ms-scale-get($modular-scale-ratio-default, $values);
   } @else {
      @error "ms Mixin: No $modular-scale-ratio-default defined !!!";
   }

   @if $modular-scale-ratio-mobile {
      $mobile-values: ms-scale-get($modular-scale-ratio-mobile, $values);
   }

   @if $modular-scale-approach == "mobile-first" {
      @if $modular-scale-ratio-mobile {
         #{$property}: $mobile-values;

         // use emq to respect the design approach
         // and media type
         @include emq($modular-scale-critical-breakpoint) {
            #{$property}: $default-values;
         }
      } @else {
         #{$property}: $default-values;
      }
   } @else if $modular-scale-approach == "desktop-first" {
      #{$property}: $default-values;

      @if $modular-scale-ratio-mobile {
         // use emq to respect the design approach
         // and media type
         @include emq($modular-scale-critical-breakpoint) {
            #{$property}: $mobile-values;
         }
      }
   } @else {
      @error "ms Mixin: design approach not supported: #{$modular-scale-approach} !!!";
   }
}
