// use on "ol" tag,
// name the selector whatever you want
// see https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists

// list-style shorthand property, the order of the property values are:
// list-style-type:
//    - Type of bullets to use for the list, for example, square or circle bullets for
//      an unordered list, or numbers, letters, or roman numerals for an ordered list,
//      or a fallback if list-style-image was specified, and the image for some reason
//      cannot be displayed.
//    - List styles:
//       - Unordered:
//         disc (DEFAULT) | circle | square | none
//       - Some of ordered:
//         decimal | decimal-leading-zero | upper-latin | lower-latin | lower-roman | upper-roman
// list-style-position
//    - Whether the bullets, at the start of each item, appear inside or outside the lists
//      inside | outside (DEFAULT)
// list-style-image
//    - Allows you to use a custom image for the bullet, rather than a simple square or circle
//      none | url | initial | inherit
@mixin ol(
   $list-style-type: none,
   $list-style-position: outside,
) {
   @include box-sizing;
   margin: 0;
   padding: 0;
   @if $list-style-type and
      $list-style-type != "disc" {
      list-style-type: $list-style-type;
   }
   @if $list-style-position == "inside" {
      list-style-position: $list-style-position;
   }
}
