@mixin object-fit(
   $object-fit: cover,
   $object-position: center,
   $width: 100%,
   $height: 100%
) {
   // SUPPORT:
   // Global: 96.36% + 0.66% = 97.02%
   // unprefixed: 95.36% + 0.66% = 96.02%
   // no IE, edge > 15
   object-fit: $object-fit; // fill (stretched), contain, cover (clipped), none, scale-down
   object-position: $object-position; // ex.: right top or 50% 50% or 125px 30px
   width: $width;
   height: $height;
}
